body {
  font-family: "Times New Roman";
  font-size: 18px;
  background-color: #eeeeee;
}
.main {
  width: 412px;
  margin: 0 auto;
  padding: 50px 50px 70px 50px;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

h2 {
  text-align: center;
}

.photo {
  width: 135px;
  margin: 0 auto;
  line-height: 0;
}

header, .center, .contacts, .feedback {
  padding: 0 15px;
}

header, .center, .contacts {
  border-bottom: 1px solid grey;
}

.center ul {
  padding-left: 25px;
}
.center li, .contacts span, .feedback span {
  line-height: 26px;
}
p span {
  display: block;
}
